In [1]:
import re
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from datetime import datetime as dt
import os 
import json
import requests
import concurrent.futures
from tqdm import tqdm

In [ ]:

def p_no_sell(grouped):
    grouped.insert(2,"d_q_s", 0)
    grouped.insert(3,"d_q_c",grouped["d_q_b"] - grouped["d_q_s"])
    grouped.insert(5,"d_a_s",0)
    grouped["d_p_s"] = 0

    grouped = grouped.fillna(0)
    grouped["h_q"] = grouped["d_q_c"].cumsum()
    

    grouped["a_a_b"] = grouped["d_a_b"].cumsum() 
    grouped["a_a_s"] = grouped["d_a_s"].cumsum() 

    grouped["a_p_b"] = grouped["a_a_b"] / grouped["h_q"]

    grouped["a_p_b"] = grouped["a_p_b"].apply(lambda x: round(x,2))
    grouped["d_r_p"] = 0
    grouped["a_r_p"] = 0
    grouped.insert(9,"h_a",grouped["a_p_b"] * grouped["h_q"])
    grouped["h_a"] = grouped["h_a"].apply(lambda x: round(x,2))
    return grouped

def p_buy_and_sell(grouped):
    grouped = grouped.fillna(0)
    grouped.insert(3,"d_q_c",grouped["d_q_b"] - grouped["d_q_s"])
    grouped["h_q"] = grouped["d_q_c"].cumsum()
    

    grouped["a_a_b"] = grouped["d_a_b"].cumsum() 
    grouped["a_a_s"] = grouped["d_a_s"].cumsum() 

    grouped.loc[0,"a_p_b"] = grouped.loc[0,"a_a_b"] / grouped.loc[0,"h_q"]

    for i, val in grouped.iterrows():
        #Eğer tüm hisseler o gün satıldıysa, bir sonraki gündeki ortalama fiyat sadece yeni alınan hisselerin ortalaması olur.
        #Eğer tüm hisseler o gün satıldıysa, ve o gün alım olmadıysa, ortalama önceki güne eşit olur.
        if val["h_q"] == 0:
            if val["d_q_b"] == 0:
                grouped.loc[i,"a_p_b"] = grouped.loc[i-1,"a_p_b"]
            else:
                pass
        else:
            #Eğer alış olmadıysa, eldeki maliyet değişmez.
            if val["d_q_b"] == 0:
                grouped.loc[i,"a_p_b"] = grouped.loc[i-1,"a_p_b"]
            else:
                grouped.loc[i,"a_p_b"] = (grouped.loc[:i,"d_a_b"].sum() - grouped.loc[:i,"d_a_s"].sum()) / grouped.loc[i,"h_q"]
            # grouped.loc[i,"a_p_b"] = val["a_a_b"] / val["h_q"]
        if 0 in grouped.loc[:i,"h_q"].values:
            
            last_zero_index = grouped.loc[:i,"h_q"].tolist().index(0)
            if val["d_q_b"] != 0:
                grouped.loc[i,"a_p_b"] = sum_product = grouped.loc[last_zero_index:i, 
                                        "d_p_b"].mul(grouped.loc[last_zero_index:i, "d_q_b"]).sum() / grouped.loc[last_zero_index:i,"d_q_b"].sum()
        if val["d_q_s"] > 0:
            last_average_buy = grouped.loc[:i].query("d_p_b != 0")["d_p_b"].iloc[-1]
            grouped.loc[i,"d_r_p"] = (val["d_p_s"] - last_average_buy) * val["d_q_s"]
        else:
            grouped.loc[i,"d_r_p"] = 0
        grouped.loc[i,"a_r_p"] = grouped.loc[:i,"d_r_p"].sum()
    
    grouped["a_p_b"] = grouped["a_p_b"].apply(lambda x: round(x,2))
        
    grouped.insert(9,"h_a",grouped["a_p_b"] * grouped["h_q"])
    grouped["h_a"] = grouped["h_a"].apply(lambda x: round(x,2))
    return grouped

def port_func1(ticker,df):
    data = df.query("ticker == @ticker")
    data["date"] = data["date"].apply(lambda x: x.normalize())

    df1 = data.groupby(["date", "buy_sell"]).agg({
        "quantity": "sum",
        "trans_amount": "sum",
        "price": lambda x: (x * data.loc[x.index, "quantity"]).sum() / df.loc[x.index, "quantity"].sum()
    }).unstack()

    df1.columns = ["_".join(col).strip() for col in df1.columns.values]
    df1 = df1.rename(columns={
        "quantity_Alış": "d_q_b",
        "quantity_Satış": "d_q_s",
        "trans_amount_Alış": "d_a_b",
        "trans_amount_Satış": "d_a_s",
        "price_Alış": "d_p_b",
        "price_Satış": "d_p_s"
    }).reset_index()

    ####Situation stock never sold:
    if "d_q_s" not in df1.columns:
        df2 = p_no_sell(df1)
    else:
        df2 = p_buy_and_sell(df1)
    return ticker, df2

    ticker, df3 = port_func1(ticker,df)

def port_func2(ticker,df3):
        min_date = df3["date"].min()
        if df3.loc[len(df3)-1,"h_q"] != 0:
            max_date = dt.today()
        else:
            max_date = df3["date"].max()
        df4 = pd.DataFrame({'date': pd.date_range(start=min_date, end=max_date, freq='B').normalize()})
        df4 = df4.merge(df3, on='date', how='left')
        df4 = df4.fillna({
                'd_q_b': 0,
                'd_q_s': 0,
                'd_a_b': 0,
                'd_a_s': 0,
                'd_p_b': 0,
                'd_p_s': 0,
                'd_q_c': 0,
                "d_r_p": 0,
            })
        
        df4 = df4.merge(price_data.query("ticker == @ticker")[["date","open","close"]], on=["date"],how="left")
        f_fill_col = ["h_q", "a_a_b","a_a_s", "a_p_b", "a_r_p","close","open"] 
        #min, max, vol_ö
        df4[f_fill_col] = df4[f_fill_col].ffill()
        
        df4 = df4.query("d_q_b + d_q_s + h_q > 0")
        # df4 = df4.fillna(0)
        df4["h_a"] = df4["h_q"] * df4["a_p_b"]
        df4['t_v'] = df4['h_q'] * df4['close']
        
        df4['a_ur_p'] = df4['t_v'] - df4['h_a']
        df4['a_ur_p'] = np.where(df4['h_q'] == 0, 0, df4['a_ur_p'])
        df4["d_ur_p"] = (df4["close"] - df4["open"]) * df4["h_q"]
        df4["d_p"] = df4["d_ur_p"] + df4["d_r_p"]
        df4["a_p"] = df4["a_ur_p"] + df4["a_r_p"]
        df4["d_%"] = (round(df4["close"] / df4["open"],3) - 1) * 100
        df4["a_%"] = (round(df4["close"] / df4["a_p_b"],3) - 1) * 100
        df4.reset_index(drop=True, inplace=True)
        df4["d_p_b"] = df4["d_p_b"].apply(lambda x: round(x,2))
        df4["open"] = df4["open"].apply(lambda x: round(x,2))
        df4.insert(1, 'ticker', ticker)
        return df4    
    
def portfoy(ticker):
    ticker, df3 = port_func1(ticker,df)
    df4 = port_func2(ticker,df3)
    return df4

def create_gunluk_ozet(port_all):
    selected_col = ["date","ticker","h_q","a_p_b",'d_q_c',"open","close","d_%",'a_%', 'd_a_b',"d_a_s", 't_v',"d_r_p", 'a_r_p',"d_ur_p", 'a_ur_p']
    gunluk_ozet_raw = port_all[selected_col]

    # Group by business week
    gunluk_ozet = gunluk_ozet_raw.groupby(pd.Grouper(key="date",freq='D')).agg({
        "d_a_b": 'sum',
        "d_a_s":'sum',
        "t_v": 'sum',
        "d_r_p": 'sum',
        "d_ur_p": 'sum',
        "a_r_p": 'sum',
        "a_ur_p": 'sum',
    }).reset_index()
    gunluk_ozet = gunluk_ozet[gunluk_ozet["date"].isin(price_data["date"].unique())]
    gunluk_ozet["d_a_c"] = - gunluk_ozet["d_a_b"] + gunluk_ozet["d_a_s"]
    gunluk_ozet["d_a_c"] = gunluk_ozet["d_a_c"].round(2)
    gunluk_ozet["t_v"] = gunluk_ozet["t_v"].round(2)
    gunluk_ozet.insert(3,"t_v_y",gunluk_ozet["t_v"].shift(1))
    gunluk_ozet.loc[0,"t_v_y"] = gunluk_ozet.loc[0,"d_a_b"]

    gunluk_ozet["d_r_p"] = gunluk_ozet["d_r_p"].round(2)
    gunluk_ozet["d_ur_p"] = gunluk_ozet["d_ur_p"].round(2)

    gunluk_ozet = gunluk_ozet.merge(cum_inv_df, on="date", how="left")
    gunluk_ozet.rename(columns={"cum_inv": "a_inv"}, inplace=True)
    gunluk_ozet.insert(9,"d_inv",gunluk_ozet["a_inv"].diff())
    gunluk_ozet.loc[0,"d_inv"] = gunluk_ozet.loc[0,"a_inv"]
    gunluk_ozet["d_inv"] = gunluk_ozet["d_inv"].astype(int)

    gunluk_ozet.loc[1:,"t_v_y"] = gunluk_ozet.loc[1:,"t_v_y"] + gunluk_ozet.loc[1:,"d_inv"]
    gunluk_ozet.insert(4,"d_%",(round(gunluk_ozet["t_v"] / gunluk_ozet["t_v_y"],4) - 1) * 100)

    gunluk_ozet["d_b"] = gunluk_ozet["d_inv"] + (gunluk_ozet["d_a_c"])
    gunluk_ozet["a_b"] = gunluk_ozet["d_b"].cumsum()

    gunluk_ozet["a_r_p"] = gunluk_ozet["a_r_p"].round(2)
    gunluk_ozet["a_ur_p"] = gunluk_ozet["a_ur_p"].round(2)
    gunluk_ozet["d_p"] = gunluk_ozet["d_r_p"] + gunluk_ozet["d_ur_p"]
    gunluk_ozet["d_p_y"] = round(gunluk_ozet["d_p"] / gunluk_ozet["t_v"],4) * 100

    # gunluk_ozet.to_parquet("gunluk_ozet.parquet")
    return gunluk_ozet

def create_hisse_gunluk(port_all):
    selected_col = ["date","ticker","h_q","a_p_b",'d_q_c',"open","close","d_%",'a_%', 'a_a_b', 't_v',"d_r_p", 'a_r_p',"d_ur_p", 'a_ur_p',"d_p","a_p"]
    hisse_gunluk = port_all[selected_col]
    # hisse_gunluk.to_parquet("hisse_gunluk.parquet")
    return hisse_gunluk

def create_haftalık_ozet(port_all):
    selected_col = ["date","ticker","h_q","a_p_b",'d_q_c',"open","close","d_%",'a_%', 'd_a_b',"d_a_s", 't_v',"d_r_p", 'a_r_p',"d_ur_p", 'a_ur_p',"d_p","a_p"]
    haftalık_data = port_all[selected_col]
    def business_week(date):
        # If the date is a Monday, return the date itself.
        if date.weekday() == 0:  
            return date
        # Otherwise, return the date of the nearest past Monday.
        else:
            return date - pd.Timedelta(days=date.weekday())

    # Group by business week
    haftalık_ozet = haftalık_data.groupby([haftalık_data['date'].apply(business_week)]).agg({
        "d_a_b": 'sum',
        "d_a_s":'sum',
        "t_v": 'sum',
        "d_r_p": 'sum',
        "d_ur_p": 'sum',
        "a_r_p": 'sum',
        "a_ur_p": 'sum',
    }).reset_index()

    haftalık_ozet = haftalık_ozet[haftalık_ozet["date"].isin(price_data["date"].unique())]
    haftalık_ozet["d_a_c"] = - haftalık_ozet["d_a_b"] + haftalık_ozet["d_a_s"]
    haftalık_ozet["d_a_c"] = haftalık_ozet["d_a_c"].round(2)
    haftalık_ozet["t_v"] = haftalık_ozet["t_v"].round(2)
    haftalık_ozet.insert(3,"t_v_y",haftalık_ozet["t_v"].shift(1))
    haftalık_ozet.loc[0,"t_v_y"] = haftalık_ozet.loc[0,"d_a_b"]

    haftalık_ozet["d_r_p"] = haftalık_ozet["d_r_p"].round(2)
    haftalık_ozet["d_ur_p"] = haftalık_ozet["d_ur_p"].round(2)

    haftalık_ozet = haftalık_ozet.merge(cum_inv_df, on="date", how="left")
    haftalık_ozet.rename(columns={"cum_inv": "a_inv"}, inplace=True)
    haftalık_ozet.insert(9,"d_inv",haftalık_ozet["a_inv"].diff())
    haftalık_ozet.loc[0,"d_inv"] = haftalık_ozet.loc[0,"a_inv"]
    haftalık_ozet["d_inv"] = haftalık_ozet["d_inv"].astype(int)

    haftalık_ozet.loc[1:,"t_v_y"] = haftalık_ozet.loc[1:,"t_v_y"] + haftalık_ozet.loc[1:,"d_inv"]
    haftalık_ozet.insert(4,"d_%",(round(haftalık_ozet["t_v"] / haftalık_ozet["t_v_y"],4) - 1) * 100)

    haftalık_ozet["d_b"] = haftalık_ozet["d_inv"] + (haftalık_ozet["d_a_c"])
    haftalık_ozet["a_b"] = haftalık_ozet["d_b"].cumsum()

    haftalık_ozet["a_r_p"] = haftalık_ozet["a_r_p"].round(2)
    haftalık_ozet["a_ur_p"] = haftalık_ozet["a_ur_p"].round(2)
    haftalık_ozet["d_p"] = haftalık_ozet["d_r_p"] + haftalık_ozet["d_ur_p"]
    haftalık_ozet["d_p_y"] = round(haftalık_ozet["d_p"] / haftalık_ozet["t_v"],4) * 100

    # haftalık_ozet.to_parquet("haftalık_ozet.parquet")
    return haftalık_ozet

In [ ]:
df = pd.read_parquet("../data/midas_raw/midas_df.parquet")
cum_inv_df = pd.read_parquet("../data/midas_raw/midas_cum_inv_df.parquet")
price_data = pd.read_parquet("../data/parquet/data_daily.parquet")
price_data["date"] = price_data["date"].apply(lambda x: x.normalize())
port_all = pd.DataFrame()
for ticker in df.ticker.unique():
    try:
        port_temp = portfoy(ticker)
        port_all = pd.concat([port_all, port_temp], axis=0, ignore_index=True)
    except Exception as e:
        print(ticker, e)

port_all = port_all.query("ticker != 'ALTIN.S1'")
port_all.reset_index(drop=True, inplace=True)

# Define the conditions
condition_ofsym = ((port_all['ticker'] == 'OFSYM') & (port_all['date'] >= '2023-08-16')) | (port_all['ticker'] != 'OFSYM')
condition_adgyo = ((port_all['ticker'] == 'ADGYO') & (port_all['date'] >= '2023-09-21')) | (port_all['ticker'] != 'ADGYO')

In [ ]:
def convert_sector_wide(data, sector_name):
    rename_dict = {
        "Sektör Ortalamaları": "Metrics",
        "F/K": "fk",
        "PD/DD": "pd_dd",
        "FD/FAVÖK": "fd_favok"
    }
    
    data = data.rename(columns=rename_dict)

    
    new_columns = {
        "BIST 100": "bist100",
        "Aritmetik Ortalama": "ao",
        "Ağırlıklı Ortalama": "wo",
        "Medyan": "median"
    }

    
    wide_df = pd.DataFrame()
    wide_df['sector_name'] = [sector_name]

    for metric, prefix in new_columns.items():
        for column in ['fk', 'pd_dd', 'fd_favok']:
            col_name = f"{prefix}_{column}"
            if sector_name == 'bankacilik' and column == 'fd_favok':
                wide_df[col_name] = np.nan
            else:
                wide_df[col_name] = data[data['Metrics'] == metric][column].values

    return wide_df

# Function to convert 'Piyasa Değeri' to numerical value
def convert_piyasa_degeri(value):
    value = value.replace('₺', '').strip()
    if 'mr' in value:
        value = float(value.replace('mr', '')) * 1e3  # convert to billion
    elif 'mn' in value:
        value = float(value.replace('mn', ''))  # convert to million
    return value

def get_sector(sector_name):

    headers = {
        'authority': 'fintables.com',
        'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',
        'accept-language': 'en-US,en;q=0.9,tr;q=0.8,tr-TR;q=0.7',
        'cache-control': 'no-cache',
        'cookie': '_gid=GA1.2.50961081.1690710140; _gcl_au=1.1.518997462.1690710149; auth-token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoyMTIyNzEwMTk3LCJpYXQiOjE2OTA3MTAxOTcsImp0aSI6IjQ2NGI0YTIxYjY3ZjQ3ZDY4MmEwYjg5NWE3ZjlkMWE4IiwidXNlcl9pZCI6MTEyNzMzfQ.Bh3945i5RjYHblFOyoN_e9oqVmQcOUukFo8GqXp5wtg; _gat_UA-72451211-3=1; _ga=GA1.2.1134893438.1690710140; _ga_22JQCWWZZJ=GS1.1.1690710149.1.1.1690711335.20.0.0',
        'dnt': '1',
        'pragma': 'no-cache',
        'sec-ch-ua': '"Not.A/Brand";v="8", "Chromium";v="114", "Google Chrome";v="114"',
        'sec-ch-ua-mobile': '?0',
        'sec-ch-ua-platform': '"macOS"',
        'sec-fetch-dest': 'document',
        'sec-fetch-mode': 'navigate',
        'sec-fetch-site': 'same-origin',
        'sec-fetch-user': '?1',
        'upgrade-insecure-requests': '1',
        'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36'
    }

    response = requests.get(f'https://fintables.com/sektorler/{sector_name}', headers=headers)

    # The content of the response
    from bs4 import BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')

    sektor_ozet = soup.find_all('table', class_="min-w-full")[0]
    sektor_ozet2 = str(sektor_ozet).replace(".","").replace(',', '.')
    sektor_ozet_df = pd.read_html(str(sektor_ozet2))[0]
    sektor_ozet_wide = convert_sector_wide(sektor_ozet_df, sector_name)
    
    my_table = soup.find_all('table', class_="min-w-full")[1]
    my_table2 = str(my_table).replace(".","").replace(',', '.')
    df = pd.read_html(str(my_table2))[0]
    
    df['Piyasa Değeri'] = df['Piyasa Değeri'].apply(convert_piyasa_degeri)
    #df['Piyasa Değeri'] = df['Piyasa Değeri'].astype(int)
    df["sector"] = sector_name

    return sektor_ozet_wide, df

def get_sector_multiple(sector_names):
    ozet_list = []
    sirket_list = []

    with concurrent.futures.ThreadPoolExecutor(max_workers=10) as executor:
        for sektor_ozet,tum_sirketler in tqdm(executor.map(get_sector, sector_names), total=len(sector_names), desc="Fintables Şirketler"):
            try:
                sirket_list.append(tum_sirketler)
                ozet_list.append(sektor_ozet)
            except Exception as e:
                print("Error: ", e)
    sirket_df = pd.concat(sirket_list, axis=0, ignore_index=True)
    ozet_df = pd.concat(ozet_list, axis=0, ignore_index=True)

    sirket_df['Şirket Kodu'] = sirket_df['Şirket Kodu'].str[:-7]
    # sirket_df['Piyasa Değeri'] = sirket_df['Piyasa Değeri'].astype(float)

    sirket_df.columns = ['sirket_kodu', 'piyasa_degeri', 'fk', 'pd_dd', 'fd_favok', 'sector']
    return ozet_df, sirket_df

sector_names = json.load(open('sector_names.json',encoding="utf-8"))

print("Fintables Sektörler ve Şirketler Güncelleniyor")
ozet_df, sirket_df = get_sector_multiple(sector_names)

all_tickers = sirket_df['sirket_kodu'].unique()
all_tickers = list(all_tickers[:10])
all_tickers.append('XU100')
data_list = []

def fetch_data(ticker):
    data = tv.get_hist(symbol=ticker, exchange='BIST', interval=Interval.in_daily, n_bars=200)
    return data

# Use a ThreadPoolExecutor to fetch data in parallel
with concurrent.futures.ThreadPoolExecutor(max_workers=5) as executor:
    # Wrap the executor and the ticker list with tqdm for a progress bar
    data_list = list(tqdm(executor.map(fetch_data, all_tickers), total=len(all_tickers)))


data = pd.concat(data_list).reset_index()
data["symbol"] = data["symbol"].str[5:]

In [4]:
def p_no_sell(grouped):
    grouped.insert(2,"d_q_s", 0)
    grouped.insert(3,"d_q_c",grouped["d_q_b"] - grouped["d_q_s"])
    grouped.insert(5,"d_a_s",0)
    grouped["d_p_s"] = 0

    grouped = grouped.fillna(0)
    grouped["h_q"] = grouped["d_q_c"].cumsum()
    

    grouped["a_a_b"] = grouped["d_a_b"].cumsum() 
    grouped["a_a_s"] = grouped["d_a_s"].cumsum() 

    grouped["a_p_b"] = grouped["a_a_b"] / grouped["h_q"]

    grouped["a_p_b"] = grouped["a_p_b"].apply(lambda x: round(x,2))
    grouped["d_r_p"] = 0
    grouped["a_r_p"] = 0
    grouped.insert(9,"h_a",grouped["a_p_b"] * grouped["h_q"])
    grouped["h_a"] = grouped["h_a"].apply(lambda x: round(x,2))
    return grouped

def p_buy_and_sell(grouped):
    grouped = grouped.fillna(0)
    grouped.insert(3,"d_q_c",grouped["d_q_b"] - grouped["d_q_s"])
    grouped["h_q"] = grouped["d_q_c"].cumsum()
    

    grouped["a_a_b"] = grouped["d_a_b"].cumsum() 
    grouped["a_a_s"] = grouped["d_a_s"].cumsum() 

    grouped.loc[0,"a_p_b"] = grouped.loc[0,"a_a_b"] / grouped.loc[0,"h_q"]

    for i, val in grouped.iterrows():
        #Eğer tüm hisseler o gün satıldıysa, bir sonraki gündeki ortalama fiyat sadece yeni alınan hisselerin ortalaması olur.
        #Eğer tüm hisseler o gün satıldıysa, ve o gün alım olmadıysa, ortalama önceki güne eşit olur.
        if val["h_q"] == 0:
            if val["d_q_b"] == 0:
                grouped.loc[i,"a_p_b"] = grouped.loc[i-1,"a_p_b"]
            else:
                pass
        else:
            #Eğer alış olmadıysa, eldeki maliyet değişmez.
            if val["d_q_b"] == 0:
                grouped.loc[i,"a_p_b"] = grouped.loc[i-1,"a_p_b"]
            else:
                grouped.loc[i,"a_p_b"] = (grouped.loc[:i,"d_a_b"].sum() - grouped.loc[:i,"d_a_s"].sum()) / grouped.loc[i,"h_q"]
            # grouped.loc[i,"a_p_b"] = val["a_a_b"] / val["h_q"]
        if 0 in grouped.loc[:i,"h_q"].values:
            
            last_zero_index = grouped.loc[:i,"h_q"].tolist().index(0)
            if val["d_q_b"] != 0:
                grouped.loc[i,"a_p_b"] = sum_product = grouped.loc[last_zero_index:i, 
                                        "d_p_b"].mul(grouped.loc[last_zero_index:i, "d_q_b"]).sum() / grouped.loc[last_zero_index:i,"d_q_b"].sum()
        if val["d_q_s"] > 0:
            last_average_buy = grouped.loc[:i].query("d_p_b != 0")["d_p_b"].iloc[-1]
            grouped.loc[i,"d_r_p"] = (val["d_p_s"] - last_average_buy) * val["d_q_s"]
        else:
            grouped.loc[i,"d_r_p"] = 0
        grouped.loc[i,"a_r_p"] = grouped.loc[:i,"d_r_p"].sum()
    
    grouped["a_p_b"] = grouped["a_p_b"].apply(lambda x: round(x,2))
        
    grouped.insert(9,"h_a",grouped["a_p_b"] * grouped["h_q"])
    grouped["h_a"] = grouped["h_a"].apply(lambda x: round(x,2))
    return grouped

def port_func1(ticker,df):
    data = df.query("ticker == @ticker")
    data["date"] = data["date"].apply(lambda x: x.normalize())

    df1 = data.groupby(["date", "buy_sell"]).agg({
        "quantity": "sum",
        "trans_amount": "sum",
        "price": lambda x: (x * data.loc[x.index, "quantity"]).sum() / df.loc[x.index, "quantity"].sum()
    }).unstack()

    df1.columns = ["_".join(col).strip() for col in df1.columns.values]
    df1 = df1.rename(columns={
        "quantity_Alış": "d_q_b",
        "quantity_Satış": "d_q_s",
        "trans_amount_Alış": "d_a_b",
        "trans_amount_Satış": "d_a_s",
        "price_Alış": "d_p_b",
        "price_Satış": "d_p_s"
    }).reset_index()

    ####Situation stock never sold:
    if "d_q_s" not in df1.columns:
        df2 = p_no_sell(df1)
    else:
        df2 = p_buy_and_sell(df1)
    return ticker, df2

    ticker, df3 = port_func1(ticker,df)

def port_func2(ticker,df3):
        min_date = df3["date"].min()
        if df3.loc[len(df3)-1,"h_q"] != 0:
            max_date = dt.today()
        else:
            max_date = df3["date"].max()
        df4 = pd.DataFrame({'date': pd.date_range(start=min_date, end=max_date, freq='B').normalize()})
        df4 = df4.merge(df3, on='date', how='left')
        df4 = df4.fillna({
                'd_q_b': 0,
                'd_q_s': 0,
                'd_a_b': 0,
                'd_a_s': 0,
                'd_p_b': 0,
                'd_p_s': 0,
                'd_q_c': 0,
                "d_r_p": 0,
            })
        
        df4 = df4.merge(tvdata.query("ticker == @ticker")[["date","open","close"]], on=["date"],how="left")
        f_fill_col = ["h_q", "a_a_b","a_a_s", "a_p_b", "a_r_p","close","open"] 
        #min, max, vol_ö
        df4[f_fill_col] = df4[f_fill_col].ffill()
        
        df4 = df4.query("d_q_b + d_q_s + h_q > 0")
        # df4 = df4.fillna(0)
        df4["h_a"] = df4["h_q"] * df4["a_p_b"]
        df4['t_v'] = df4['h_q'] * df4['close']
        
        df4['a_ur_p'] = df4['t_v'] - df4['h_a']
        df4['a_ur_p'] = np.where(df4['h_q'] == 0, 0, df4['a_ur_p'])
        df4["d_ur_p"] = (df4["close"] - df4["open"]) * df4["h_q"]
        df4["d_p"] = df4["d_ur_p"] + df4["d_r_p"]
        df4["a_p"] = df4["a_ur_p"] + df4["a_r_p"]
        df4["d_%"] = (round(df4["close"] / df4["open"],3) - 1) * 100
        df4["a_%"] = (round(df4["close"] / df4["a_p_b"],3) - 1) * 100
        df4.reset_index(drop=True, inplace=True)
        df4["d_p_b"] = df4["d_p_b"].apply(lambda x: round(x,2))
        df4["open"] = df4["open"].apply(lambda x: round(x,2))
        df4.insert(1, 'ticker', ticker)
        return df4    
    
def portfoy(ticker):
    ticker, df3 = port_func1(ticker,df)
    df4 = port_func2(ticker,df3)
    return df4

In [2]:
df = pd.read_parquet("../data/midas_raw/midas_df.parquet")
cum_inv_df = pd.read_parquet("../data/midas_raw/midas_cum_inv_df.parquet")
tvdata = pd.read_parquet("../data/parquet/data_daily.parquet")

In [5]:
port_all = pd.DataFrame()
for ticker in df.ticker.unique():
    try:
        port_temp = portfoy(ticker)
        port_all = pd.concat([port_all, port_temp], axis=0, ignore_index=True)
    except Exception as e:
        print(ticker, e)
port_all = port_all.query("ticker != 'ALTIN.S1'")
port_all.reset_index(drop=True, inplace=True)
# port_all.to_parquet("../streamlit/portfolyo/port_all.parquet")

In [6]:
# Define the conditions
condition_ofsym = ((port_all['ticker'] == 'OFSYM') & (port_all['date'] >= '2023-08-16')) | (port_all['ticker'] != 'OFSYM')
condition_adgyo = ((port_all['ticker'] == 'ADGYO') & (port_all['date'] >= '2023-09-21')) | (port_all['ticker'] != 'ADGYO')

# Combine the conditions and filter the DataFrame
port_all = port_all[condition_ofsym & condition_adgyo]

selected_col = ["date","ticker","h_q","a_p_b",'d_q_c',"open","close","d_%",'a_%', 'a_a_b', 't_v',"d_r_p", 'a_r_p',"d_ur_p", 'a_ur_p',"d_p","a_p"]
hisse_gunluk = port_all[selected_col]

selected_col2 = ["date","ticker","h_q","a_p_b",'d_q_c',"open","close","d_%",'a_%', 'd_a_b',"d_a_s", 't_v',"d_r_p", 'a_r_p',"d_ur_p", 'a_ur_p']
gunluk_ozet_raw = port_all[selected_col2]

# Group by business week
gunluk_ozet = gunluk_ozet_raw.groupby(pd.Grouper(key="date",freq='D')).agg({
    "d_a_b": 'sum',
    "d_a_s":'sum',
    "t_v": 'sum',
    "d_r_p": 'sum',
    "d_ur_p": 'sum',
    "a_r_p": 'sum',
    "a_ur_p": 'sum',
}).reset_index()
gunluk_ozet = gunluk_ozet[gunluk_ozet["date"].isin(tvdata["date"].unique())]
gunluk_ozet["d_a_c"] = - gunluk_ozet["d_a_b"] + gunluk_ozet["d_a_s"]
gunluk_ozet["d_a_c"] = gunluk_ozet["d_a_c"].round(2)
gunluk_ozet["t_v"] = gunluk_ozet["t_v"].round(2)
gunluk_ozet.insert(3,"t_v_y",gunluk_ozet["t_v"].shift(1))
gunluk_ozet.loc[0,"t_v_y"] = gunluk_ozet.loc[0,"d_a_b"]

gunluk_ozet["d_r_p"] = gunluk_ozet["d_r_p"].round(2)
gunluk_ozet["d_ur_p"] = gunluk_ozet["d_ur_p"].round(2)

gunluk_ozet = gunluk_ozet.merge(cum_inv_df, on="date", how="left")
gunluk_ozet.rename(columns={"cum_inv": "a_inv"}, inplace=True)
gunluk_ozet.insert(9,"d_inv",gunluk_ozet["a_inv"].diff())
gunluk_ozet.loc[0,"d_inv"] = gunluk_ozet.loc[0,"a_inv"]
gunluk_ozet["d_inv"] = gunluk_ozet["d_inv"].astype(int)

gunluk_ozet.loc[1:,"t_v_y"] = gunluk_ozet.loc[1:,"t_v_y"] + gunluk_ozet.loc[1:,"d_inv"]
gunluk_ozet.insert(4,"d_%",(round(gunluk_ozet["t_v"] / gunluk_ozet["t_v_y"],4) - 1) * 100)

gunluk_ozet["d_b"] = gunluk_ozet["d_inv"] + (gunluk_ozet["d_a_c"])
gunluk_ozet["a_b"] = gunluk_ozet["d_b"].cumsum()

gunluk_ozet["a_r_p"] = gunluk_ozet["a_r_p"].round(2)
gunluk_ozet["a_ur_p"] = gunluk_ozet["a_ur_p"].round(2)
gunluk_ozet["d_p"] = gunluk_ozet["d_r_p"] + gunluk_ozet["d_ur_p"]
gunluk_ozet["d_p_y"] = round(gunluk_ozet["d_p"] / gunluk_ozet["t_v"],4) * 100

# # gunluk_ozet.to_parquet("gunluk_ozet.parquet")

In [7]:
selected_col = ["date","ticker","h_q","a_p_b",'d_q_c',"open","close","d_%",'a_%', 'd_a_b',"d_a_s", 't_v',"d_r_p", 'a_r_p',"d_ur_p", 'a_ur_p',"d_p","a_p"]
haftalık_data = port_all[selected_col]
def business_week(date):
    # If the date is a Monday, return the date itself.
    if date.weekday() == 0:  
        return date
    # Otherwise, return the date of the nearest past Monday.
    else:
        return date - pd.Timedelta(days=date.weekday())

# Group by business week
haftalık_ozet = haftalık_data.groupby([haftalık_data['date'].apply(business_week)]).agg({
    "d_a_b": 'sum',
    "d_a_s":'sum',
    "t_v": 'sum',
    "d_r_p": 'sum',
    "d_ur_p": 'sum',
    "a_r_p": 'sum',
    "a_ur_p": 'sum',
}).reset_index()

haftalık_ozet = haftalık_ozet[haftalık_ozet["date"].isin(tvdata["date"].unique())]
haftalık_ozet["d_a_c"] = - haftalık_ozet["d_a_b"] + haftalık_ozet["d_a_s"]
haftalık_ozet["d_a_c"] = haftalık_ozet["d_a_c"].round(2)
haftalık_ozet["t_v"] = haftalık_ozet["t_v"].round(2)
haftalık_ozet.insert(3,"t_v_y",haftalık_ozet["t_v"].shift(1))
haftalık_ozet.loc[0,"t_v_y"] = haftalık_ozet.loc[0,"d_a_b"]

haftalık_ozet["d_r_p"] = haftalık_ozet["d_r_p"].round(2)
haftalık_ozet["d_ur_p"] = haftalık_ozet["d_ur_p"].round(2)

haftalık_ozet = haftalık_ozet.merge(cum_inv_df, on="date", how="left")
haftalık_ozet.rename(columns={"cum_inv": "a_inv"}, inplace=True)
haftalık_ozet.insert(9,"d_inv",haftalık_ozet["a_inv"].diff())
haftalık_ozet.loc[0,"d_inv"] = haftalık_ozet.loc[0,"a_inv"]
haftalık_ozet["d_inv"] = haftalık_ozet["d_inv"].astype(int)

haftalık_ozet.loc[1:,"t_v_y"] = haftalık_ozet.loc[1:,"t_v_y"] + haftalık_ozet.loc[1:,"d_inv"]
haftalık_ozet.insert(4,"d_%",(round(haftalık_ozet["t_v"] / haftalık_ozet["t_v_y"],4) - 1) * 100)

haftalık_ozet["d_b"] = haftalık_ozet["d_inv"] + (haftalık_ozet["d_a_c"])
haftalık_ozet["a_b"] = haftalık_ozet["d_b"].cumsum()

haftalık_ozet["a_r_p"] = haftalık_ozet["a_r_p"].round(2)
haftalık_ozet["a_ur_p"] = haftalık_ozet["a_ur_p"].round(2)
haftalık_ozet["d_p"] = haftalık_ozet["d_r_p"] + haftalık_ozet["d_ur_p"]
haftalık_ozet["d_p_y"] = round(haftalık_ozet["d_p"] / haftalık_ozet["t_v"],4) * 100

# haftalık_ozet
# haftalık_ozet.to_parquet("haftalık_ozet.parquet")

In [8]:
from datetime import datetime, timedelta
now = datetime.now()
if now.weekday() >= 5:  # 5: Saturday, 6: Sunday
    days_to_subtract = now.weekday() - 4
    today = now.date() - timedelta(days=days_to_subtract)
    today_str = (now - timedelta(days=days_to_subtract)).strftime("%d-%m-%Y")
else:
    if now.hour < 18:
        today = now.date() - timedelta(days=1)
        today_str = (now - timedelta(days=1)).strftime("%d-%m-%Y")
    else:
        today = now.date()
        today_str = now.strftime("%d-%m-%Y")
today_str

'10-10-2023'

In [9]:
toplam_buyukluk = port_all.query("date == @today").t_v.sum()
gunluk_net = gunluk_ozet.query("date == @today").d_p.values[0]
gunluk_yuzde = gunluk_ozet.query("date == @today").d_p_y.values[0]

In [29]:
gunluk_ozet["week"] = gunluk_ozet["date"].dt.isocalendar().week
gunluk_ozet["month"] = gunluk_ozet["date"].dt.month
thisweek = today.isocalendar().week; lastweek = thisweek - 1
thismonth = today.month

In [31]:
son_hafta = gunluk_ozet.query("week == @thisweek")
son_hafta.reset_index(drop=True, inplace=True)
haftalik_net = (
    son_hafta.iloc[-1]["t_v"] - son_hafta.iloc[0]["t_v"] - son_hafta["d_inv"].sum()
)
haftalik_yuzde = round(
    (1 - (son_hafta.iloc[0]["t_v"] / son_hafta.iloc[-1]["t_v"])) * 100, 2
)

son_ay = gunluk_ozet.query("month == @thismonth")
son_ay.reset_index(drop=True, inplace=True)
aylik_net = son_ay.iloc[-1]["t_v"] - son_ay.iloc[0]["t_v"] - son_ay["d_inv"].sum()
aylik_yuzde = round(
    (1 - (son_ay.iloc[0]["t_v"] / (son_ay.iloc[-1]["t_v"] - son_ay["d_inv"].sum())))
    * 100,
    2,
)

son_gun = hisse_gunluk.query("date == @today").sort_values(
    by="t_v", ascending=True
)
son_gun.dropna(how="any", inplace=True)
data_list = [
    {"name": ticker, "value": round(value, 1)}
    for ticker, value in son_gun[["ticker", "t_v"]].values
]
data_list

[{'name': 'AGESA', 'value': 0.0},
 {'name': 'HUBVC', 'value': 0.0},
 {'name': 'KOZAA', 'value': 1934.8},
 {'name': 'ZOREN', 'value': 2038.4},
 {'name': 'ORGE', 'value': 2474.6},
 {'name': 'HEKTS', 'value': 6175.0},
 {'name': 'TAVHL', 'value': 9044.0},
 {'name': 'INFO', 'value': 11157.9},
 {'name': 'TURSG', 'value': 14564.0},
 {'name': 'KAREL', 'value': 15193.9},
 {'name': 'REEDR', 'value': 21974.6},
 {'name': 'ANSGR', 'value': 24303.3},
 {'name': 'ISYAT', 'value': 24650.0}]

In [41]:
haftalık_ozet.tail(20)

,week,d_a_b,d_a_s,t_v,d_r_p,d_ur_p,a_r_p,a_ur_p
0,27,9948.29,0.00,53077.0000,0.000000,1111.2000,0.000000,3332.7500
1,28,907.00,924.00,52964.9130,-1.650000,-362.6530,-1.650000,4220.9130
2,29,913.10,905.00,52916.3287,-2.000000,290.1000,-2.000000,5003.9287
3,30,5108.69,3096.42,65940.0616,105.180000,630.5658,105.180000,5873.7216
4,31,38052.27,7875.65,213445.4270,30.750000,1149.0730,30.750000,10461.1870
5,32,11261.56,8124.38,242545.8400,-414.450000,1449.9200,-414.450000,24500.4800
6,33,23411.98,22281.55,261977.3100,1025.750000,-1180.3200,1025.750000,29996.3900
7,34,64853.04,59429.33,275996.1674,-2252.870800,-141.7275,-2129.404133,20742.1674
8,35,28616.29,18661.67,315192.2356,-294.200000,-226.4741,-1043.240000,23926.4656
9,36,71239.25,55641.49,420117.1500,-315.428110,3026.6300,-899.548110,46737.1100
10,37,11952.60,12660.48,419249.7800,-1614.475027,-8016.0300,2701.118415,25219.3900
11,38,38252.59,31298.12,439430.6400,-1415.260000,7058.3500,-193.150000,27814.8600
12,39,61871.14,61882.32,498936.8700,382.781818,1257.2300,2106.475455,79311.3900
13,40,104230.87,69328.38,690610.0000,2072.182772,8213.7100,4193.547606,110379.8800
14,41,0.00,0.00,407478.3200,241.100000,6387.0600,2185.903771,98992.3400

In [46]:
port_all.columns

Index(['date', 'ticker', 'd_q_b', 'd_q_s', 'd_q_c', 'd_a_b', 'd_a_s', 'd_p_b',
       'd_p_s', 'h_q', 'h_a', 'a_a_b', 'a_a_s', 'a_p_b', 'd_r_p', 'a_r_p',
       'open', 'close', 't_v', 'a_ur_p', 'd_ur_p', 'd_p', 'a_p', 'd_%', 'a_%'],
      dtype='object')

In [73]:

selected_col = ["date","ticker","h_q","a_p_b",'d_q_c',"open","close","d_%",'a_%','d_a_b',"d_a_s", 't_v',"d_r_p", 'a_r_p',"d_ur_p", 'a_ur_p',"d_p","a_p"]
haftalık_data = port_all[selected_col]
haftalık_data["week"] = haftalık_data["date"].dt.isocalendar().week
def business_week(date):
    # If the date is a Monday, return the date itself.
    if date.weekday() == 0:  
        return date
    # Otherwise, return the date of the nearest past Monday.
    else:
        return date - pd.Timedelta(days=date.weekday())
    
def diff_last_first(series):
    return series.iloc[-1] - series.iloc[0]


haftalık_data = haftalık_data.sort_values(by=["week", "date"])
haftalık_ozet = gunluk_ozet.groupby("week").agg({
    "d_a_b": 'sum',
    "d_a_s":'sum',
    "t_v": diff_last_first,
    "d_r_p": 'sum',
    "d_ur_p": 'sum',
    "a_r_p": 'sum',
    "a_ur_p": 'sum',
}).reset_index()


weekly_net_inv = gunluk_ozet.groupby("week").d_inv.sum().reset_index()
haftalık_ozet = haftalık_ozet.merge(weekly_net_inv, on="week", how="left")
haftalık_ozet['t_v2'] = haftalık_ozet['t_v'] - haftalık_ozet['d_inv']
# haftalık_ozet = haftalık_ozet[haftalık_ozet["date"].isin(price_data["date"].unique())]
# haftalık_ozet["d_a_c"] = - haftalık_ozet["d_a_b"] + haftalık_ozet["d_a_s"]
# haftalık_ozet["d_a_c"] = haftalık_ozet["d_a_c"].round(2)
# haftalık_ozet["t_v"] = haftalık_ozet["t_v"].round(2)
# haftalık_ozet.insert(3,"t_v_y",haftalık_ozet["t_v"].shift(1))
# haftalık_ozet.loc[0,"t_v_y"] = haftalık_ozet.loc[0,"d_a_b"]

# haftalık_ozet["d_r_p"] = haftalık_ozet["d_r_p"].round(2)
# haftalık_ozet["d_ur_p"] = haftalık_ozet["d_ur_p"].round(2)

# haftalık_ozet = haftalık_ozet.merge(cum_inv_df, on="date", how="left")
# haftalık_ozet.rename(columns={"cum_inv": "a_inv"}, inplace=True)
# haftalık_ozet.insert(9,"d_inv",haftalık_ozet["a_inv"].diff())
# haftalık_ozet.loc[0,"d_inv"] = haftalık_ozet.loc[0,"a_inv"]
# haftalık_ozet["d_inv"] = haftalık_ozet["d_inv"].astype(int)

# haftalık_ozet.loc[1:,"t_v_y"] = haftalık_ozet.loc[1:,"t_v_y"] + haftalık_ozet.loc[1:,"d_inv"]
# haftalık_ozet.insert(4,"d_%",(round(haftalık_ozet["t_v"] / haftalık_ozet["t_v_y"],4) - 1) * 100)

# haftalık_ozet["d_b"] = haftalık_ozet["d_inv"] + (haftalık_ozet["d_a_c"])
# haftalık_ozet["a_b"] = haftalık_ozet["d_b"].cumsum()

# haftalık_ozet["a_r_p"] = haftalık_ozet["a_r_p"].round(2)
# haftalık_ozet["a_ur_p"] = haftalık_ozet["a_ur_p"].round(2)
# haftalık_ozet["d_p"] = haftalık_ozet["d_r_p"] + haftalık_ozet["d_ur_p"]
# haftalık_ozet["d_p_y"] = round(haftalık_ozet["d_p"] / haftalık_ozet["t_v"],4) * 100

# # haftalık_ozet.to_parquet("haftalık_ozet.parquet")
# return haftalık_ozet

In [76]:
gunluk_ozet.tail(20)

,date,d_a_b,d_a_s,t_v_y,d_%,t_v,d_r_p,d_ur_p,a_r_p,a_ur_p,d_inv,d_a_c,a_inv,d_b,a_b,d_p,d_p_y,week,month
51,2023-09-13,0.00,0.00,84759.92,-2.43,82698.84,0.00,-2369.56,867.70,3293.77,0,0.00,77850,0.00,478.02,-2369.56,-2.87,37,9
52,2023-09-14,11952.60,12009.48,82698.84,1.57,83995.92,-1613.64,1875.14,-745.94,6240.23,0,56.88,77850,56.88,534.90,261.50,0.31,37,9
53,2023-09-15,0.00,651.00,83995.92,-2.37,82006.32,-0.84,-2473.96,843.96,3946.83,0,651.00,77850,651.00,1185.90,-2474.80,-3.02,37,9
54,2023-09-18,5380.21,5469.90,82006.32,-4.03,78704.62,-495.71,-2653.49,348.25,1231.09,0,89.69,77850,89.69,1275.59,-3149.20,-4.00,38,9
55,2023-09-19,9984.80,5222.70,84004.62,1.68,85413.32,-157.51,2120.18,190.74,3335.20,5300,-4762.10,83150,537.90,1813.49,1962.67,2.30,38,9
56,2023-09-20,15612.28,14994.60,85413.32,1.14,86387.02,-406.40,247.48,-125.50,3758.94,0,-617.68,83150,-617.68,1195.81,-158.92,-0.18,38,9
57,2023-09-21,1466.40,0.00,87887.02,5.34,92578.20,0.00,3959.94,-125.50,7780.65,1500,-1466.40,84650,33.60,1229.41,3959.94,4.28,38,9
58,2023-09-22,5808.90,5610.92,92978.20,3.62,96347.48,-355.64,3384.24,-481.14,11708.98,400,-197.98,85050,202.02,1431.43,3028.60,3.14,38,9
59,2023-09-25,19620.55,19501.30,96347.48,2.93,99166.28,112.37,2186.52,406.66,14119.31,0,-119.25,85050,-119.25,1312.18,2298.89,2.32,39,9
60,2023-09-26,9177.18,9136.62,99166.28,-0.59,98582.04,201.24,-1121.02,202.03,14684.83,0,-40.56,85050,-40.56,1271.62,-919.78,-0.93,39,9
61,2023-09-27,14491.84,16630.00,98582.04,0.23,98807.73,255.47,944.60,83.72,16973.49,0,2138.16,85050,2138.16,3409.78,1200.07,1.21,39,9
62,2023-09-28,8575.45,6541.60,98807.73,1.83,100614.77,-24.80,-1118.45,514.28,16454.12,0,-2033.85,85050,-2033.85,1375.93,-1143.25,-1.14,39,9
63,2023-09-29,10006.12,10072.80,100614.77,1.14,101766.05,-161.50,365.58,899.78,17079.64,0,66.68,85050,66.68,1442.61,204.08,0.20,39,9
64,2023-10-02,49936.95,34572.74,126766.05,-5.44,119870.48,3533.26,2472.02,4681.10,15824.93,25000,-15364.21,110050,9635.79,11078.40,6005.28,5.01,40,10
65,2023-10-03,29518.83,9892.60,129870.48,8.47,140867.09,-524.67,-1850.15,-15.39,17605.67,10000,-19626.23,120050,-9626.23,1452.17,-2374.82,-1.69,40,10
66,2023-10-04,15223.29,15214.54,140867.09,0.20,141154.29,-191.51,-1087.69,96.36,17955.65,0,-8.75,120050,-8.75,1443.42,-1279.20,-0.91,40,10
67,2023-10-05,9551.80,9648.50,141154.29,0.56,141949.59,-345.00,633.26,-256.81,19188.74,0,96.70,120050,96.70,1540.12,288.26,0.20,40,10
68,2023-10-06,0.00,0.00,141949.59,3.39,146768.55,-399.89,8046.27,-311.71,39804.89,0,0.00,120050,0.00,1540.12,7646.38,5.21,40,10
69,2023-10-09,0.00,0.00,146768.55,-4.30,140457.18,-240.50,-254.30,214.43,33493.52,0,0.00,120050,0.00,1540.12,-494.80,-0.35,41,10
70,2023-10-10,0.00,0.00,140457.18,-4.95,133510.57,481.60,3320.68,936.53,32749.41,0,0.00,120050,0.00,1540.12,3802.28,2.85,41,10

In [78]:
hisse_gunluk.query("date == '2023-10-02'")

,date,ticker,h_q,a_p_b,d_q_c,open,close,d_%,a_%,a_a_b,t_v,d_r_p,a_r_p,d_ur_p,a_ur_p,d_p,a_p
9,2023-10-02,KLSER,0.0,88.35,-28.0,96.35,95.00,-1.4,7.5,4947.60,0.00,224.00,270.200000,-0.00,0.00,224.00,270.200000
30,2023-10-02,ISCTR,0.0,23.09,-600.0,25.90,25.94,0.2,12.3,21032.88,0.00,2004.00,2799.260000,0.00,0.00,2004.00,2799.260000
31,2023-10-02,YKBNK,400.0,18.45,400.0,18.48,18.73,1.4,1.5,7381.50,7492.00,0.00,0.000000,100.00,112.00,100.00,112.000000
34,2023-10-02,AKBNK,245.0,33.55,245.0,33.48,34.48,3.0,2.8,8218.80,8447.60,0.00,0.000000,245.00,227.85,245.00,227.850000
104,2023-10-02,MGROS,0.0,280.58,-19.0,368.30,381.00,3.4,35.8,5331.00,0.00,1290.10,1290.100000,0.00,0.00,1290.10,1290.100000
123,2023-10-02,TAVHL,93.0,120.50,47.0,125.30,127.00,1.4,5.4,11860.60,11811.00,0.00,-13.800000,158.10,604.50,158.10,590.700000
145,2023-10-02,INFO,486.0,15.90,-250.0,17.20,18.28,6.3,15.0,16946.55,8884.08,-112.50,-166.050000,524.88,1156.68,412.38,990.630000
155,2023-10-02,ORGE,154.0,63.11,101.0,64.25,62.00,-3.5,-1.8,9719.10,9548.00,0.00,0.000000,-346.50,-170.94,-346.50,-170.940000
164,2023-10-02,REEDR,948.0,18.89,450.0,18.70,19.89,6.4,5.3,17906.20,18855.72,0.00,0.000000,1128.12,948.00,1128.12,948.000000
181,2023-10-02,ISMEN,0.0,41.07,0.0,40.80,40.54,-0.6,-1.3,10333.02,0.00,2.00,-313.400000,-0.00,0.00,2.00,-313.400000
182,2023-10-02,QNBFL,3.0,670.00,3.0,731.80,658.70,-10.0,-1.7,2010.00,1976.10,0.00,0.000000,-219.30,-33.90,-219.30,-33.900000
195,2023-10-02,ADGYO,0.0,27.73,-103.0,29.46,30.24,2.6,9.1,2856.38,0.00,125.66,125.660000,0.00,0.00,125.66,125.660000
206,2023-10-02,QUAGR,500.0,6.74,500.0,6.74,6.88,2.1,2.1,10490.52,3440.00,0.00,-91.960000,70.00,70.00,70.00,-21.960000
208,2023-10-02,ZOREN,500.0,6.08,500.0,5.90,6.27,6.3,3.1,3040.00,3135.00,0.00,0.000000,185.00,95.00,185.00,95.000000
220,2023-10-02,ISYAT,636.0,9.63,163.0,12.47,12.82,2.8,33.1,6124.87,8153.52,0.00,0.000000,222.60,2028.84,222.60,2028.840000
268,2023-10-02,ANSGR,219.0,34.56,0.0,56.10,53.90,-3.9,56.0,25888.11,11804.10,0.00,844.800000,-481.80,4235.46,-481.80,5080.260000
341,2023-10-02,KAREL,476.0,22.02,0.0,30.84,32.36,4.9,47.0,10482.32,15403.36,0.00,0.000000,723.52,4921.84,723.52,4921.840000
721,2023-10-02,TURSG,280.0,33.18,0.0,38.42,39.00,1.5,17.5,14587.64,10920.00,0.00,-63.708182,162.40,1629.60,162.40,1565.891818

In [74]:
haftalık_ozet

,week,d_a_b,d_a_s,t_v,d_r_p,d_ur_p,a_r_p,a_ur_p,d_inv,t_v2
0,27,9948.29,0.00,945.80,0.00,1111.20,0.00,3332.75,10000,-9054.20
1,28,907.00,924.00,661.44,-1.65,-362.65,-1.65,4220.91,0,661.44
2,29,913.10,905.00,924.80,-2.00,290.10,-2.00,5003.93,0,924.80
3,30,5108.69,3096.42,912.88,105.18,630.57,105.18,5873.73,2000,-1087.12
4,31,38052.27,7875.65,7219.23,30.75,1149.07,30.75,10461.19,30250,-23030.77
5,32,11261.56,8124.38,4454.61,-414.45,1449.92,-414.45,24500.48,3500,954.61
6,33,23411.98,22281.55,44.80,1025.75,-1180.32,1025.75,29996.39,1500,-1455.20
7,34,64853.04,59429.33,1667.15,-2252.87,-141.73,-2129.40,20742.17,5200,-3532.85
8,35,28616.29,18661.67,12147.66,-294.20,845.11,-1043.24,20578.41,10000,2147.66
9,36,71239.25,55641.49,10909.16,-315.43,3026.63,-899.55,46737.11,15400,-4490.84
10,37,11952.60,12660.48,-3782.46,-1614.48,-8016.03,2701.12,25219.39,0,-3782.46
11,38,38252.59,31298.12,17642.86,-1415.26,7058.35,-193.15,27814.86,7200,10442.86
12,39,61871.14,61882.32,2599.77,382.78,1257.23,2106.47,79311.39,0,2599.77
13,40,104230.87,69328.38,26898.07,2072.19,8213.71,4193.55,110379.88,35000,-8101.93
14,41,0.00,0.00,-6946.61,241.10,3066.38,1150.96,66242.93,0,-6946.61